:root {
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
}


* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden;
    background-color: #0B2DA1 !important;
}


@media screen and (max-width: 767px) {

    .page-content {
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 100vh !important;
        justify-content: space-between;
        gap: 10px;
    }

    .header {
        padding: 10px;
        text-align: center;
    }

    .header-icon {
        width: 300px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .sir-card {
        background-color: #fff;
        justify-content: center;
        padding: 10px 20px;
        width: calc(100% - 40px) !important;
        width: 100%;
        margin: auto;
        border-radius: 8px;
    }

    .sir-text {
        color: #002DA1;
        font-family: Raleway;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }

    .sir-text,
    .city .label .info .name-radio,
    .city .label .info .dial-radio {
        font-family: Raleway;
        font-weight: 600;
        line-height: normal;
    }

    .sir-text {
        color: #000;
        font-size: 14px;
    }

    .cities {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        min-height: 400px;
    }

    .city {
        position: relative;
        margin: 10px;
        background: var(--cityBackground);
        background-size: auto 300%;
        background-position: center;
        object-fit: cover;
        cursor: pointer;
        flex-grow: 1;
        border-radius: 8px;
    }

    .city.active .label {
        bottom: 20px;
        left: 20px;
        position: relative;
    }

    .city .label .info>span {
        left: 10px;
        opacity: 0;
        position: relative;
        transition: 0.5s cubic-bezier(254, 223, 5, 0.95), opacity 0.5s ease-out;
    }

    .city .label .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: auto;
        color: white;
        white-space: pre;
        position: relative;
    }

    .city .label .info .name-radio,
    .city .label .info .dial-radio {
        position: absolute;
        display: flex;
        width: 120px;
        justify-content: flex-start;
        align-items: center;
        opacity: 1;
    }

    .city .label .info .name-radio {
        top: 110px;
        font-weight: bold;
        font-size: 1.4rem;
    }

    .city .label .info .dial-radio {
        transition-delay: 0.1s;
        font-size: 1rem;
        top: 130px;
    }

    .arrow {
        position: absolute;
        top: 80%;
        right: 10px;
        width: 40px;
        height: 0;
        transform: translateY(-50%);
    }

    .city-text-less {
        visibility: hidden;
    }

    .footer {
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
        justify-content: space-evenly;
    }

    .img-footer {
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .footer-img {
        width: 110px;
        height: 70.46px;
        flex-shrink: 0;
    }

    .copy {
        margin: auto;
        padding: 10px;
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    body {
        overflow-y: hidden;
        height: 100vh;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 100vh !important;
        justify-content: space-between;
        gap: 10px;
    }

    .header {
        text-align: center;
    }

    .header-icon {
        width: 380px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sir-card {
        background-color: #fff;
        justify-content: center;
        padding: 10px 20px;
        width: calc(100% - 40px);
        max-width: 100%;
        border-radius: 8px;
        justify-content: center;
    }

    .sir-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .sir-text {
        color: #002DA1;
        font-family: Raleway;
        font-size: 40px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        text-align: center;
        width: 30%;
    }

    .sir-text {
        color: #000;
        font-family: Raleway;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .cities {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        overflow: hidden;
        min-width: 200px;
        max-width: 120%;
        height: 400px;
        margin: auto;
        width: 80%;
    }

    .cities .city {
        position: relative;
        overflow: hidden;
        min-width: 60px;
        margin: 10px;
        background: var(--cityBackground, var(--defaultBackground, #e6e9ed));
        background-size: auto 200%;
        object-fit: fill;
        background-position: center;
        cursor: pointer;
        transition: opacity 2.5s ease;
    }

    .cities .city.active {
        z-index: 1;
        flex-grow: 10000;
        transform: scale(1);
        max-width: 600px;
        margin: 0px;
        border-radius: 8px;
        background-size: auto 120%;
    }

    .cities .city.active:active {
        transition: opacity 2.5s ease;
        transform: scale(0.9);
    }

    .cities .city.active .shadow {
        box-shadow: inset 0 -120px 120px -120px #1e1e1e, inset 0 -120px 120px -100px #1e1e1e;
    }

    .cities .city.active .label {
        bottom: 20px;
        left: 20px;
    }

    .cities .city.active .label .info>span {
        left: 0px;
        opacity: 1;
    }

    .cities .city:not(.active) {
        flex-grow: 1;
        border-radius: 8px;
    }

    .cities .city:not(.active) .shadow {
        bottom: -40px;
        box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
    }

    .cities .city:not(.active) .label {
        bottom: 10px;
        left: 10px;
    }

    .cities .city:not(.active) .label .info>span {
        left: 20px;
        opacity: 0;
    }

    .cities .city:not(.active) .arrow {
        visibility: hidden;
        left: 20px;
        opacity: 0;
    }

    .cities .city .shadow {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 180px;
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    }

    .cities .city .label {
        display: flex;
        position: absolute;
        right: 0px;
        height: 40px;
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    }


    .cities .city .label .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: auto;
        margin-right: 50px;
        color: white;
        white-space: pre;
    }

    .cities .city .label .info>span {
        position: relative;
        transition: 0.5s cubic-bezier(254, 223, 5, 0.95), opacity 0.5s ease-out;
    }

    .cities .city .label .info .name-radio {
        font-weight: bold;
        font-size: 24px;
    }

    .cities .city .label .info .dial-radio {
        transition-delay: 0.1s;
        font-size: 1.2rem;
    }

    .city-title {
        flex: 0 0 auto;
        font-size: 2em;
        line-height: 1.1em;
        margin-top: -50px
    }

    .city-square {
        position: absolute;
        z-index: -1;
        display: block;
        width: 290px;
        height: 70%;
        margin-left: -24px;
        margin-top: -50px;
        background-color: #1e1e1ebd;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .city-square.active {
        width: 0
    }

    .city-text-less {
        position: absolute;
        bottom: 80px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        color: #fff;
        display: flex;
        width: 120px;
        height: 120px;
        justify-content: flex-start;
        align-items: center;
        opacity: 1;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }

    .city .city-text-less {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .city:hover .city-text-less,
    .city.active .city-text-less {
        opacity: 0;
    }

    .arrow {
        position: absolute;
        top: -10%;
        right: 40px;
        width: 0;
        height: 0;
        transform: translateY(-50%);
        margin-bottom: 15px;
    }

    .arrow img {
        width: 40px;
        height: 40px;
    }

    .footer {
        display: flex;
        background-color: #f2f2f2;
    }

    .img-footer {
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }

    .copy {
        margin: auto;
    }

    .cities .city.active:active {
        transition: opacity 1.9s ease, transform 1.3s ease;
        transform: scale(0.9);
    }
}

@media screen and (min-width: 1024px) {

    body {
        overflow-y: hidden;
        height: 100vh;
    }

    .page-content {
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 100vh !important;
        justify-content: space-between;
        gap: 10px;
    }

    .header {
        text-align: center;
    }

    .header-icon {
        width: 380px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .sir-card {
        background-color: #fff;
        justify-content: center;
        padding: 10px 20px;
        width: calc(100% - 600px);
        margin: 0 auto;
        border-radius: 8px;
        justify-content: center;
    }

    .sir-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .sir-text {
        color: #181818;
        font-family: 'Raleway', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        text-align: left;
        width: 20%;
    }

    .sir-text {
        color: #000;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
    }

    .cities {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        overflow: hidden;
        min-width: 200px;
        max-width: 120%;
        height: 400px;
        margin: auto;
        width: 80%;
    }

    .cities .city {
        position: relative;
        overflow: hidden;
        min-width: 60px;
        margin: 10px;
        background: var(--cityBackground, var(--defaultBackground, #e6e9ed));
        background-size: auto 200%;
        object-fit: fill;
        background-position: center;
        cursor: pointer;
        transition: opacity 2.5s ease;
    }

    .cities .city.active {
        z-index: 1;
        flex-grow: 10000;
        transform: scale(1);
        max-width: 600px;
        margin: 0px;
        border-radius: 8px;
        background-size: auto 120%;
    }

    .cities .city.active:active {
        transition: opacity 2.5s ease;
        transform: scale(0.9);
    }


    .cities .city.active .shadow {
        box-shadow: inset 0 -120px 120px -120px #1e1e1e, inset 0 -120px 120px -100px #1e1e1e;
    }

    .cities .city.active .label {
        bottom: 20px;
        left: 20px;
    }

    .cities .city.active .label .info>span {
        left: 0px;
        opacity: 1;
    }

    .cities .city:not(.active) {
        flex-grow: 1;
        border-radius: 8px;
    }

    .cities .city:not(.active) .shadow {
        bottom: -40px;
        box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
    }

    .cities .city:not(.active) .label {
        bottom: 10px;
        left: 10px;
    }

    .cities .city:not(.active) .label .info>span {
        left: 20px;
        opacity: 0;
    }

    .cities .city:not(.active) .arrow {
        visibility: hidden;
        left: 20px;
        opacity: 0;
    }

    .cities .city .shadow {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 180px;
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    }

    .cities .city .label {
        display: flex;
        position: absolute;
        right: 0px;
        height: 40px;
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    }


    .cities .city .label .info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: auto;
        margin-right: 50px;
        color: white;
        white-space: pre;
    }

    .cities .city .label .info>span {
        position: relative;
        transition: 0.5s cubic-bezier(254, 223, 5, 0.95), opacity 0.5s ease-out;
    }

    .cities .city .label .info .name-radio {
        font-weight: bold;
        font-size: 1.9rem;
    }

    .cities .city .label .info .dial-radio {
        transition-delay: 0.1s;
        font-size: 1.2rem;
    }

    .city-title {
        flex: 0 0 auto;
        font-size: 2em;
        line-height: 1.1em;
        margin-top: -50px
    }

    .city-square {
        position: absolute;
        z-index: -1;
        display: block;
        width: 290px;
        height: 70%;
        margin-left: -24px;
        margin-top: -50px;
        background-color: #1e1e1ebd;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .city-square.active {
        width: 0
    }

    .city-text-less {
        position: absolute;
        bottom: 80px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        color: #fff;
        display: flex;
        width: 120px;
        height: 120px;
        justify-content: flex-start;
        align-items: center;
        opacity: 1;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }

    .city .city-text-less {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .city:hover .city-text-less,
    .city.active .city-text-less {
        opacity: 0;
    }

    .arrow {
        position: absolute;
        top: -10%;
        right: 10px;
        width: 40px;
        height: 0;
        transform: translateY(-50%);
        margin-bottom: 15px;
    }

    .arrow img {
        width: 40px;
        height: 40px;
    }

    .footer {
        display: flex;
        background-color: #f2f2f2;
        justify-content: space-evenly;
    }

    .img-footer {
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }

    .copy {
        margin: auto;
    }

    .cities .city {
        transform: translateZ(0);
        transition: transform 0.9s ease;
    }

    .cities .city.active {
        transform: scale(0.9);
    }

    .cities .city.active:active {
        transition: opacity 0.9s ease, transform 0.3s ease;
        transform: scale(0.9);
    }

}